include LICENSE.txt
include README.md
include requirements.txt
include requirements.qward.txt
include requirements.docs.txt
include qward/VERSION.txt
recursive-include qward *.py
recursive-include docs *.rst *.md *.ipynb *.py
global-exclude *.pyc *.pyo *~ 