include LICENSE.txt
include README.md
include requirements.txt
include qiskit_qward/VERSION.txt
recursive-include qiskit_qward *.py
recursive-include docs *.rst *.md *.ipynb *.py
global-exclude *.pyc *.pyo *~ 