# This file includes all requirements
# For specific requirements use:
#  - requirements.qward.txt for the main library
#  - requirements.docs.txt for documentation

# Main library requirements
-r requirements.qward.txt

# Documentation requirements
-r requirements.docs.txt
