qiskit==2.1.2
qiskit-aer==0.17.1
qiskit-ibm-runtime==0.41.1
qbraid[braket]==0.9.8
numpy>=1.24.0
pandas>=2.0.0
matplotlib>=3.7.0
python-dotenv>=1.0.0
pylatexenc
ibm-cloud-sdk-core==3.24.1
ibm-platform-services==0.66.1
pydantic-settings
requests==2.32.3
dotenv
statsmodels 