name: Ecosystem json file check

on:
  push:
    branches:
      - main
      - 'stable/**'
  pull_request:
    branches:
      - main
      - 'stable/**'

jobs:
  ecosystem:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Install uv
        run: |
          python -m pip install --upgrade pip
          pip install uv
      - name: Run json check
        run: uvx tox -eecosystem
